.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.0rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.2rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color:#56a5eb;
    color: white;
    font-size: 1.75rem;
}

.choice-text{
    padding: 1.5rem;
    font-size: 1.75rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
}

.incorrect{
    background-color: #dc3545;
}

/*hud*/
#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

/*styling the progress bar*/
#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 1.5rem;
}

#progressBarfull {
    height: 3.4rem;
    background-color: #56a5eb;
    width: 0%;
}

/*loadeer*/
#loader{
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.0rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: split 2s linear infinite;
}

@keyframes split{
    0%{
    transform: rotate(0deg);
}
    100%{
    transform: rotate(360deg);       
    }
}
/**resp**/
/**timer**/

#count{
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.tbtn{
    background-color: #fff;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.8rem 1.7rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #dc3545;
    background: transparent;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 2rem;
         /*added*/
       
    }
    #count{
        position: absolute;
        bottom: 0px;
        height: 80px;
        background: rgb(252, 255, 255);
        box-shadow: 0px  5px 15px #333;
        border-radius: 30px 30px 10px 10px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*added*/
        height: 70px;
        margin-bottom: 10px;

    }
    #count h1 {
        height: 14px;
        transform:translateY(70%);
        /*added*/
         position: relative;
        top: 3px;
    }
    .counter{
        font-size:18px;
        font-weight: bolder;
        /*added*/
        position: relative;
        top: -15px;
    }
    .tbn{
         /*added*/
        background-color: #fff;
        border-radius: 4px;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0.8rem 1.7rem;
        font-size: 1.2rem;
        font-weight: 700;
        color: #dc3545;
        position: relative;
        margin-top: -20px;
    }
}

@media screen and (min-width: 800px) {
    #count{
        position: absolute;
        bottom: 0px;
        height: 60px;
        background: rgb(252, 255, 255);
        box-shadow: 0px  5px 15px rgb(71, 70, 70);
        border-radius: 30px 30px 10px 10px;
        width: 600px;
        
    }
    .tbtn{
        font-size: 3rem;
        transform: translateX(100%);
    }
    #count h1 {
        height: 14px;
        text-align: left;
        transform: translateX(-80%);
    }
    .counter{
        font-size:50px;
        font-weight: bolder;
    }
}

